h1.title {
    font-family: american typewriter;
    font-size: 34px;
    color: green;
    padding-left: 180px;
}

form.calc {
    width: 560px;
    height: 300px;
    border: 3px solid gray;
    padding-top: 25px;
    padding-left: 30px;
}

form.calc input {
    width: 200px;
    height: 25px;
    display: block;
    margin-bottom: 25px;
    border: 2px solid gray;
    border-radius: 5px;
    padding-left: 12px;
    color: orange;
    font-size: 16px;
}

form.calc label {
    font-weight: bold;
    color: green;
    padding-left: 50px;
}

form.calc select {
    width: 120px;
    height: 30px;
    display: block;
    margin-bottom: 35px;
    border-radius: 8px;
    padding-left: 10px;
    font-weight: bold;
    color: red;
    font-size: 14px;
}

form.calc button {
    width: 120px;
    height: 50px;
    background-color: orange;
    color: green;
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 20px;
    font-size: 18px;
}

h5.result {
    font-family: Tahoma, Arial;
    font-size: 22px;
    color: red;
    padding-left: 32px;
}