h2.title {
  font-family: bookman old style;
  font-size: 28px;
  color: green;
  padding-left: 500px;
}

form.word {
  font-family: bookman old style;
  font-bold: bold;
  font-size: 28px;
  color: orange;
  padding-left: 300px;
  padding-right: 5px;
}

form.word input {
  width: 200px;
  height: 25px;
  display: line;
  font-size: 14px;
  font-family: times new roman;
  margin-bottom: 5px;
  border-radius: 6px;
  padding-left: 10px;
}

form.word textarea {
  width: 200px;
  height: 150px;
  font-family: bookman old style;
  font-bold: bold;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 5px;
}

form.word dd {
  padding-left: 270px;
}


